@model OnlineLibrarySystem.Models.SearchFilter

@section scripts {
    <script type="text/javascript">
        System.import('app/search.main.js').catch(function (err) { console.error(err); });

        function keyChanged() {
            $('#page').val(1);
        }
    </script>
}

<div class="container mt-4">
    <form action="/Book/Search" method="get" id="searchForm">
        <input type="hidden" value="@Model.Page" name="page" id="page" />
        <input type="hidden" value="@Model.PageSize" name="pageSize" id="pageSize" />
        <div class="row align-items-end">
            <div class="form-group col-md-12 col-lg-5">
                <label for="key" class="text-muted">What are you searching for?</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input name="match" type="checkbox" id="match" @(Model.Match ? "checked" : "") />
                        </div>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Match entire string
                        </div>
                    </div>
                    <input id="key" value="@Model.Key" onchange="keyChanged()" name="key" type="text" class="form-control" placeholder="Search for any book" />
                    <div class="input-group-append">
                        <input class="btn btn-group btn-outline-secondary" value="Search" type="submit" />
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label for="searchBy" class="text-muted">Search by</label>
                <div class="input-group">
                    <select class="form-control" id="searchBy" name="searchBy">
                        <option value="book" @(Model.SearchBy.Equals("book") ? "selected" : "")>Book title</option>
                        <option value="author" @(Model.SearchBy.Equals("author") ? "selected" : "")>Author name</option>
                        <option value="publisher" @(Model.SearchBy.Equals("publisher") ? "selected" : "")>Publisher name</option>
                    </select>
                    <div class="input-group-append input-group-prepend">
                        <div class="input-group-text px-1">
                            <button data-toggle="popover" data-placement="top" data-content="Sort ASC or DESC"
                                    class="btn btn-default btn-sm oi @(Model.SortType.Equals("ASC") ? "oi-sort-ascending" : "oi-sort-descending") oi-sort-ascending"
                                    onclick="$(this).next().val($(this).next().val() === 'ASC' ? 'DESC' : 'ASC')"></button>
                            <input type="hidden" name="sortType" value="@Model.SortType" />
                        </div>
                    </div>
                    <select class="form-control" id="sortBy" name="sortBy">
                        <option value="default" @(Model.SortBy.Equals("default") ? "selected" : "")>Most Popular</option>
                        <option value="book" @(Model.SortBy.Equals("book") ? "selected" : "")>Book title</option>
                        <option value="author" @(Model.SortBy.Equals("author") ? "selected" : "")>Author name</option>
                        <option value="publisher" @(Model.SortBy.Equals("publisher") ? "selected" : "")>Publisher name</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="minPub" class="text-muted">Published between</label>
                <div class="input-group">
                    <input class="form-control" id="minPub" name="minPub" type="number" min="0" max="2020" value="@Model.MinPub" />
                    <div class="input-group-append input-group-prepend">
                        <div class="input-group-text">and</div>
                    </div>
                    <input class="form-control" id="maxPub" name="maxPub" type="number" min="0" max="2020" value="@Model.MaxPub" />
                </div>
            </div>
        </div>
    </form>
</div>

<app-search-root>
    <div class="d-flex align-items-center justify-content-center w-100">
        <span class="spinner-border text-secondary m-5"></span>
    </div>
</app-search-root>
