@model OnlineLibrarySystem.Models.CommonModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <base href="/" />

    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/site.css")

    @RenderSection("AddToHead", required: false)

</head>
<body ng-app="global">


    <!-- SOME IMPORTANT VARIABLES -->
    @Html.HiddenFor(x => x.Token, new { @id = "Token" })

    <!-- ONLY APPEARS IF JAVASCRIPT WAS DISABLED -->
    <noscript>
        <div class="alert-danger alert m-3">
            Javascript <b>must</b> be enabled in order for this site to work correctly!
        </div>
    </noscript>

    <!-- SOME DIALOGS THAT MAY APPEAR IN ANY PAGE -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertTitle">...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="alertMsg">...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rentFailed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your reservation failed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Oops! Something went wrong
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="rentModal" ng-controller="rentModalController">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rent this book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="rentBook" type="hidden" ng-click="refreshForm()" />

                        <dl>
                            <dt>Book Title</dt>
                            <dd>{{book.BookTitle}}</dd>
                            <dt>Author Name</dt>
                            <dd>{{book.AuthorName}}</dd>
                            <dt>Publisher Name</dt>
                            <dd>{{book.PublisherName}}</dd>
                        </dl>

                        <div class="form-group">
                            <label for="orderDate">Pickup this book on</label>
                            <input class="form-control" type="date" id="orderDate" ng-change="removeWarning()" ng-model="book.orderDate" />
                            <small class="text-muted">You should return this book before <b>{{getReturnDate()}}</b></small>
                            <div class="invalid-feedback">The selected date should be between today and 1 week from now</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="rentSubmit">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- COMMON HEADER FOR ALL PAGES -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top" ng-controller="navbarController">
        <div class="container ng-cloak">
            <a class="navbar-brand" href="/">
                <img src="~/Content/img/favicon.ico" class="pr-2" height="30">
                {{appTitle}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100">
                    <li ng-repeat="x in links" class="nav-item" id="link-{{x.name}}">
                        <a class="nav-link" href="{{x.url}}">{{x.name}}</a>
                    </li>
                    <li class="nav-item dropdown px-lg-5 w-100">
                        <form class="input-group" method="get" action="/Book/Search">
                            <input name="key" type="text" class="form-control" aria-label="Search" placeholder="Search for any book">
                            <input name="searchBy" type="hidden" value="book" />
                            <div class="input-group-append">
                                <input class="btn btn-outline-secondary" type="submit" value="Search" />
                            </div>
                        </form>
                    </li>
                    <li class="nav-item" ng-repeat="x in userActions">
                        <a class="nav-link" href="{{x.url}}">{{x.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- PAGE CONTENT -->
    @RenderBody()

    <!-- COMMON FOOTER -->
    <footer class="footer mt-auto py-3 bg-light navbar-fixed-bottom border-top">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="font-weight-normal">CMPS 342 Database Systems</h5>
                    <p class="font-weight-light">Online Library System Project. All rights reserved 2019.</p>
                </div>
                <div style="width: 150px" class="d-flex align-items-center">
                    <a class="btn btn-info" href="/Help/Contact">Contact us now!</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- COMMON SCRIPTS FOR ALL PAGES -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/date.js")

    <!-- GLOBAL SCRIPT FOR ALL PAGES -->
    @Scripts.Render("~/Scripts/const.js")
    @Scripts.Render("~/Scripts/global.js")

    <!-- HERE GOES THE PAGE ADDITIONAL SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>
</html>
