<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    <script>System.import('app/main.js').catch(function (err) { console.error(err); });</script>

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/site.css")

    @RenderSection("AddToHead")

</head>
<body ng-app="global">

    <!-- SOME JAVASCRIPT IMPORTANT VARIABLES -->
    <!-- COMMON HEADER FOR ALL PAGES -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" ng-controller="navbarController">
        <div class="container ng-cloak">
            <a class="navbar-brand" href="#">
                <img src="~/Content/img/favicon.ico" width="30">
                {{appTitle}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav w-100">
                    <li ng-repeat="x in links" class="nav-item" id="link-{{x.name}}">
                        <a class="nav-link" href="{{x.url}}">{{x.name}}</a>
                    </li>
                    <li class="nav-item dropdown px-lg-5 w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-repeat="x in categories">{{x}}</a>
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Search" placeholder="Search for any book">
                        </div>
                    </li>
                    <li class="nav-item" ng-repeat="x in userActions">
                        <a class="nav-link" href="{{x.url}}">{{x.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- PAGE CONTENT -->
    @RenderBody()

    <!-- COMMON FOOTER -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="text-muted">CMPS 342 Database Systems</h5>
                    <p class="text-muted">Online Library System Project. All rights reserved 2019.</p>
                </div>
                <div style="width: 150px" class="d-flex align-items-center">
                    <button class="btn btn-info">Contact us now!</button>
                </div>
            </div>
        </div>
    </footer>

    <!-- COMMON SCRIPTS FOR ALL PAGES -->
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")


    @Scripts.Render("~/Scripts/global.js")

    <!-- HERE GOES THE PAGE ADDITIONAL SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>
</html>
