@model OnlineLibrarySystem.Models.Person

@section AddToHead {
    @Styles.Render("~/Content/css/profile.css")
}

@section scripts {
    <script type="text/javascript">
        System.import('../app/orders.main.js').catch(function (err) { console.error(err); });
    </script>

    @Scripts.Render("~/Scripts/profile.js")
}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-auto col-md-auto col-sm-12 align-items-center d-flex flex-column">
            <div class="rounded img-thumbnail profile-img-top" style="background-image: url('@(string.IsNullOrEmpty(Model.ProfileImage) ? "/Media/default.png" : Model.ProfileImage)')"></div>
            <button id="uploadBtn" class="btn btn-sm btn-outline-primary mt-3" onclick="$('#image').click()">Upload Image</button>
            <form class="hidden">
                <input type="file" id="image" name="image" onchange="profileUpload(this)" accept="image/png, image/jpeg" />
            </form>
        </div>
        <div class="col-lg col-md col-sm-12">
            <ul class="nav nav-tabs mt-5" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Order History</a>
                </li>
                <li class="col"></li>
                <li>
                    <button class="btn btn-sm btn-primary" onclick="edit()">Edit Profile</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                    <div class="p-3 container">
                        <form>
                            <div class="row">
                                <b class="col-lg-3 col-md-4 col-sm-6 py-1">Username</b>
                                <div class="col-lg-9 col-md-8 col-sm-6">
                                    <input class="form-control-plaintext my-1" type="text" readonly value="@Model.Username" />
                                </div>
                            </div>
                            <div class="row">
                                <b class="col-lg-3 col-md-4 col-sm-6 py-1">Password</b>
                                <div class="col-lg-9 col-md-8 col-sm-6">
                                    <input class="form-control-plaintext my-1" type="password" readonly value="********" />
                                </div>
                            </div>
                            <div class="row">
                                <b class="col-lg-3 col-md-4 col-sm-6 py-1">Account type</b>
                                <div class="col-lg-9 col-md-8 col-sm-6">
                                    <input class="form-control-plaintext my-1" type="email" readonly value="@Model.PersonType" />
                                </div>
                            </div>
                            <div class="row">
                                <b class="col-lg-3 col-md-4 col-sm-6 py-1">Email</b>
                                <div class="col-lg-9 col-md-8 col-sm-6">
                                    <input class="form-control-plaintext editable my-1" type="email" id="email" readonly value="@Model.Email" />
                                </div>
                            </div>
                            <div class="row">
                                <b class="col-lg-3 col-md-4 col-sm-6 py-1">Phone number</b>
                                <div class="col-lg-9 col-md-8 col-sm-6">
                                    <input class="form-control-plaintext editable my-1" type="tel" id="phone" readonly value="@Model.Phone" />
                                </div>
                            </div>
                            <div class="text-right mt-3">
                                <input id="editCancel" type="reset" onclick="cancelEdit()" class="hidden btn btn-secondary" value="Cancel" />
                                <input id="editSubmit" type="submit" class="hidden btn btn-primary" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <app-order-root>
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <span class="spinner-border text-secondary m-5"></span>
                        </div>
                    </app-order-root>
                </div>
            </div>
        </div>
    </div>
</div>
